ion-toolbar{

    --background:black;
    --color:white;
}

ion-content{
    --background:#f5f5f3;
    #cabecalho{
        margin-top:5px;
        display:flex;
        flex-direction: column;
        align-items: center;

        h1{
            font-weight: 600;
            font-size: 26px;
            margin-bottom: 5px;
        }
        ul{
            font-weight: 400;
            font-size: 16px;
            color:grey;

            li{
                margin-bottom: 2%;
            }
        }

        img{
            width: 130px;
            height: 130px;
            border-radius: 70%;
            border:5px solid white;
        }
    }


    #formulario{
        margin-top:15px;
        margin-left: 30px;
        margin-right: 30px;

        ion-input{
            background-color:white;
            border-radius: 50px;
            box-shadow: 1px 2px 2px 0px rgba(0,0,0,1);
        }
        ion-button{

            --background:black;
            margin-top:25px;
            height: 48px;
            font-size: 18px;
            text-transform: initial;
            border-radius: 50px;
            box-shadow: 1px 2px 2px 0px rgba(0,0,0,1);
        }
    }

    #timer{
        display:flex;
        flex-direction: column;
        align-items: center;

        img{
            width: 130px;
            height: 130px;
        }
    }

    #resultado{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
        border-radius: 50px;
        background: white;
        margin-left: 30px;
        margin-right: 30px;

        ion-label{
            font-size: 20px;
        }
        #labelResultado{
            font-size: 30px;
        }
    }
    p{
        text-align: center;
        color: #b6b6b6;
        margin-top: 20px;
    }
}
